html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dg .c {
    float: right !important;
    width: auto !important;
}

.dg .property-name {
    width: auto !important;
}